<div class="container pt-3">
  <div class="row">
    <section class="jumbotron text-center">
      <img src="img/foto1.jpg" alt="Furqon Saiful" width="300" class="rounded" />
      <h1 class="display-4">Furqon Saiful Islam</h1>
      <p class="lead">College Student | Tech Enthusiast</p>
      <p>
        Hi Im Furqon Saiful Islam, With proud i ll show you my second website, actually this is my first website with CRUD system. so basically this website is about note taking. not very special but it took me 3 months to finish it 😴. by
        the way if u want to visit my first hit this <a href="https://websitefurqy.vercel.app/" class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-100-hover"> link </a>. if u wanna know more about me you can
        visit my social media down here. ihope you enjoy with my website 😁
      </p>
      <div class="footer-container">
        <h3>Social Media</h3>
        <div class="symbol">
          <a href="https://web.facebook.com/furqon.saiful"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/_furqonsaiful/"><i class="bi bi-instagram"></i></a>
          <a href="https://www.linkedin.com/in/furqon-saiful-643709285?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bw3zgOLyEQNWhZHvYyBgijw%3D%3D"><i class="bi bi-linkedin"></i></a>
          <a href="https://github.com/kenyato27"><i class="bi bi-github"></i></a>
          <a href="https://twitter.com/FurqonSaiful27"><i class="bi bi-twitter"></i></a>
        </div>
      </div>
    </section>
  </div>
</div>
